<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div th:replace="/layout/adminlayout :: adminHeader"></div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${categories}">
                <td th:text="${cat.id}"></td>
                <td th:text="${cat.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>