<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" th:fragment="fbody">
        <div class="row">
            <div class="col-sm-6">
                <a th:href="@{/home/category/3}"><img src="../static/images/" class="img-thumbnail" th:src="@{/images/fruits.jpg}" alt="Error Images">
                </a>
            </div>
            <div class="col-sm-6">
                <img src="../static/images" class="img-thumbnail" th:src="@{/images/mobile2.jpg}" alt="Error Iamges">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="../static/images/" class="img-thumbnail" th:src="@{/images/laptop.jpg}" alt="Error Images">
            </div>
            <div class="col-sm-6">
                <img src="../static/images" class="img-thumbnail" th:src="@{/images/laptop2.jpg}" alt="Error Iamges">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <img src="../static/images/" class="img-thumbnail" th:src="@{/images/accessories.jpg}" alt="Error Images">
            </div>
            <div class="col-sm-6">
                <img src="../static/images" class="img-thumbnail" th:src="@{/images/laptop2.jpg}" alt="Error Iamges">
            </div>
        </div>



    </div>
</body>
</html>