<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div id="img" class="jumbotron jumbotron-fluid" th:fragment="himg">
        <div class="container">
            <h1 class="display-4">Java Spring Online Shopping</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <a href="#" class="btn btn-success">Try Now</a>
        </div>
        <style>
            #img{

                background: url("https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
                background-position: center;
                background-size: cover;
            }
        </style>
    </div>


</body>
</html>